.moarefi{
  font-family: "Shabnam";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Shabnam/Shabnam.eot") format("embedded-opentype"),
  url("/fonts/Shabnam/Shabnam.woff") format("woff"),
  url("/fonts/Shabnam/Shabnam.ttf") format("truetype");
  }